.avatarItem{
  display: flex;
}

.avatarItem img{
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  position: relative;
  bottom: 20px;
  margin-right: 5px;
}

.avatarName{
  margin-top: 20px;
}

.avatarDescription{
  position: relative;
  left: 4px;
  font-weight: 600;
  color: #000000;
}

.input{
  box-sizing: border-box;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 10px;
  resize: none;
  border: 2px solid black;
  font-size: 14px;
  font-weight: 550;
}