.avatarItem {
    display: flex;
}

.aboutMe{
    width: 180px;
    text-align: center;
}

.avatarItem img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.avatarDescription {
    font-weight: 600;
    color: #000000;
}

.changePhoto {
    margin-bottom: 5px;
}

.contacts {
    margin-left: 5px;
}

.paddings {
    padding: 3px 0;
}

.block{
    display: grid;
    grid-template-columns: 150px 180px 300px;
}

