.posts {
  margin-top: 10px;
  font-weight: 550;
}

.textarea {
  box-sizing: border-box;
  width: 85%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  height: 80px;
  resize: none;
  margin-bottom: 10px;
  border: 2px solid black;
  font-size: 18px;
  font-weight: 550;
  line-height: 46px;
}

.button {
  appearance: none;
  -webkit-appearance: none;
  padding: 10px;
  border: none;
  background-color: #0404cb;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 20%;
  cursor: pointer;
  opacity: 0.8;
}

.button:focus {
  color: white;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(2, 9, 15, 1);
  -moz-box-shadow: 4px 4px 8px 0px rgba(2, 9, 15, 1);
  box-shadow: 4px 4px 8px 0px rgba(2, 9, 15, 1);
  opacity: 100%;
}
