.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

.dialogsItem {
    width: 200px;
    margin-right: 10px
}

.dialog {
    padding: 10px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dialogsItem .active {
    color: #0404cb;
}

.userAvatar {
    margin-right: 5px;
    border: 2px solid grey;
    width: 30px;
    height: 30px;
}

.messages {
    width: 300px;
    margin-top: 10px;
}

img {
    position: relative;
    top: 10px;
}

.textarea {
    max-width: 100%;
    height: auto;
    min-height: 32px;
    line-height: 1.5714285714285714;
    vertical-align: bottom;
    resize: vertical;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 4px 11px;
    color: rgba(0,0,0,.88);
    font-size: 14px;
    list-style: none;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    background-color: #fff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
    border-radius: 6px;
    transition: all .2s;
}

.button {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    border-radius: 6px;
}

