textarea{
  resize: none;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  left: 10%;

  grid-template-areas:
    "n h"
    "n c";

  grid-gap: 10px;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  width: 645px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 80px;
}

.app-wrapper-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
}
